# Server
PORT=5173
NEXT_TELEMETRY_DISABLED=1

# NextAuth
NEXTAUTH_URL=http://localhost:5173
NEXTAUTH_SECRET=change-me

# Keycloak (server-side)
KEYCLOAK_BASE_URL=https://auth.ucak.sn
KEYCLOAK_REALM=ccak
KEYCLOAK_CLIENT_ID=ucak-frontend
# Public client (PKCE): no client secret required
# KEYCLOAK_CLIENT_SECRET=
# Optional override if your issuer URL differs
# KEYCLOAK_ISSUER=https://auth.ucak.sn/realms/ccak

# Keycloak (client-side logout)
NEXT_PUBLIC_KEYCLOAK_BASE_URL=https://auth.ucak.sn
NEXT_PUBLIC_KEYCLOAK_REALM=ccak

# Public runtime config
NEXT_PUBLIC_API_BASE_URL=https://si-api.ucak.sn/api/v1
